.logo {
    font-weight: bold;
    
    color:white;
    font-size: 40px;
    font-style:bold;
    font-family: 'Times New Roman', Times, serif;
    
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
    font-family: 'Times New Roman', Times, serif;

}

.p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.p1{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.image{
    height: 400px;
    width : 500px;
    
}

.nav {
    color: black;
    text-emphasis: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
